html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-oval {
    background-color: #008080; /* This is a generic teal color; adjust the hex as needed */
    border: none;
    padding: 10px 20px;
    border-radius: 50px; /* Large border-radius to create an oval shape */
    color: white; /* White text color */
    text-transform: uppercase; /* UPPERCASE text */
    font-weight: bold; /* Bold font weight */
    font-family: 'Poppins', sans-serif; /* Poppins font */
}

    /* Hover styles for the button */
    .btn-oval:hover {
        background-color: #006666; /* Darker teal color for hover effect */
    }

/* Adding About Us Page CSS here */
.about-section {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    padding: 40px;
    text-align: center; /* Center the text for all children */
}

.about-title {
    font-size: 2em;
    margin-bottom: 0.25em;
}

.title-underline {
    height: 4px;
    width: 60px;
    display: block;
    margin: auto;
    background-color: #ec5a53;
}

.about-content {
    margin: 20px auto;
    line-height: 1.6;
    font-size: 1em;
    max-width: 600px;
    color: #333;
}

.about-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

    .about-images img {
        max-width: 100%;
        height: auto;
        border: 3px solid #ec5a53;
        border-radius: 10px;
    }

.shop-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ec5a53; /* Brand salmon color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .shop-button:hover {
        background-color: #bf433b;
    }

/* Product Details CSS */
.product-details {
    padding: 20px;
    background-color: #fff;
}

.product-image {
    width: 100%;
    max-width: 400px; /* Adjust as necessary */
    margin-bottom: 20px;
}

.product-title {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #333;
}

.price-and-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust as necessary */
    margin-bottom: 20px; /* Provides spacing below this section */
}

.product-price {
    font-size: 1.5em;
    font-weight: bold;
    color: #ec5a53; /* Or any other color you prefer */
}

.product-pieces {
    font-size: 1em;
}

.add-to-cart-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ec5a53; /* Brand color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .add-to-cart-button:hover {
        background-color: #bf433b; /* Darker shade for hover effect */
    }

/*Checkout Styles*/
.checkout-container {
    width: 80%;
    margin: auto;
}

.checkout-header {
    background-color: #f00;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.checkout-cart-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkout-payment-shipping, .checkout-cart-summary {
    width: 48%;
}

.checkout-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.checkout-btn {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.checkout-cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .checkout-cart-item img {
        max-width: 100px;
    }

    .checkout-cart-item h4 {
        margin: 0;
    }

    .checkout-cart-item button {
        background-color: #e0e0e0;
        padding: 5px 10px;
    }

.checkout-total-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}

.account-details-container {
    background-image: url('/path/to/your/banner-image.jpg'); /* Adjust path as needed */
    background-size: cover;
    padding: 50px 0;
}

.account-details-title,
.account-details-subtitle {
    color: #FFF; /* White text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for better readability */
}

.account-details-container .form-control {
    margin-bottom: 15px; /* Spacing between inputs */
    border: 2px solid #FFF; /* White border for inputs */
    border-radius: 20px; /* Rounded corners for inputs */
    max-width: 300px; /* Max width for inputs */
    width: 100%; /* Full width */
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    color: #333; /* Text color */
}

.account-details-container select.form-control {
    -webkit-appearance: none; /* Removes default styling for <select> for Webkit */
    -moz-appearance: none; /* Removes default styling for <select> for Mozilla */
    appearance: none; /* Removes default styling for <select> */
    background: url('/path/to/your/dropdown-icon.png') no-repeat 95% 50%; /* Replace with your dropdown icon */
    background-size: 25px; /* Size of the dropdown icon */
}

.account-details-container .btn.account-details-btn {
    border: none;
    background-color: #ec5a53; /* Button background color */
    color: white;
    padding: 15px 30px;
    border-radius: 30px; /* Rounded corners for button */
    font-size: 1.25em; /* Larger font size */
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

    .account-details-container .btn.account-details-btn:hover {
        background-color: #bf433b; /* Darker shade when hovered */
    }

.btn-oval-checkout {
    background-color: #aedcae; /* This is a generic teal color; adjust the hex as needed */
    border: none;
    padding: 10px 20px;
    border-radius: 50px; /* Large border-radius to create an oval shape */
    color: white; /* White text color */
    text-transform: uppercase; /* UPPERCASE text */
    font-weight: bold; /* Bold font weight */
    font-family: 'Poppins', sans-serif; /* Poppins font */
}

/* Hover styles for the button */
.btn-oval-checkout:hover {
    background-color: #9fd4a3; /* Darker teal color for hover effect */
}

/*PRODUCT BROWSE PAGE*/

.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.25rem;
    position: relative; /* For absolute positioning of the badge */
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1rem; /* Space between the items */
    padding: 1rem; /* Padding around the grid */
}

.product-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Ensures link color inherits from the parent */
}

.product-image-container {
    width: 100%; /* Full width of the card */
    overflow: hidden; /* Ensures the image does not overflow the container */
}

.product-image {
    max-width: 100%;  /* Image can be as wide as its container */
    max-height: 400px; /* Maximum height for the image */
    width: auto; /* Maintain the aspect ratio */
    display: block; /* Removes extra space around the image */
    margin: 0 auto; /* Centers the image within the container */
}

.product-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures children align with the width */
}

.product-name {
    font-weight: bold; /* Makes product name bold */
    color: #333;
    font-size: 1.25rem;
    margin-bottom: 0.5rem; /* Space between name and badge */
}

.pieces-badge {
    background-color: #ec5a53;
    color: white;
    border-radius: 10px; /* Rounds the corners of the badge */
    position: absolute; /* Positions the badge absolutely within card */
    top: 10px; /* Positions the badge from the top */
    right: 10px; /* Positions the badge from the right */
}

.product-price {
    font-size: 1.5rem; /* Adjusted for a larger size */
    font-weight: bold;
    color: #333;
    margin: 0.5rem 0; /* Adds margin above and below the price */
}

.add-to-cart-form {
    width: 100%; /* Makes the form take the full width */
}

.add-to-cart-button {
    background-color: #ec5a53;
    border-color: #ec5a53;
    color: white;
    padding: 0.375rem 0.75rem;
    border-radius: 20px; /* Rounds the corners of the button */
}

    .add-to-cart-button:hover {
        background-color: #da473a;
        border-color: #da473a;
    }

.apply-filters-btn {
    background-color: #ec5a53; /* The desired background color */
    color: #ffffff; /* White text color for better readability */
    border: 1px solid transparent; /* No border, set to 'transparent' */
}

.price-parts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.page-title {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 1rem; /* Adjust as needed for spacing */
}

/* Add padding to the filter container */
.filter-container {
    padding-left: 2rem; /* Adjust as needed */
}

/* Set font for the filter categories */
.category-filter,
.color-filter {
    font-family: 'Segoe UI', sans-serif;
}

    /* Apply to individual filter labels if needed */
    .category-filter label,
    .color-filter label {
        font-family: 'Segoe UI', sans-serif;
    }

    /* CART */

.cart-container {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.cart-header {
    color: #ec5a53; /* Customize the color */
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 36px;
}

.cart-table {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-btn-continue {
    border-color: #ec5a53;
    color: #ec5a53;
}

    .cart-btn-continue:hover {
        background-color: #ec5a53;
        color: white;
    }

.cart-btn-checkout {
    background-color: #ec5a53;
    color: white;
    border-color: #ec5a53;
}

    .cart-btn-checkout:hover {
        background-color: darken(#ec5a53, 10%);
        border-color: darken(#ec5a53, 10%);
    }

.cart-btn-remove {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}

    .cart-btn-remove:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

.cart-total-row {
    font-weight: bold;
}

/* Reusing cart page styles for consistency */
.checkout-container {
    max-width: 600px; /* Set a max-width for the container */
    margin: 2rem auto; /* Center the container with automatic margins */
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.checkout-header {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 1.5rem;
    background-color: #ec5a53;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.form-control.checkout-select {
    margin-bottom: 0.5rem; /* Spacing between form elements */
}

.btn.btn-confirm-checkout {
    background-color: #ec5a53;
    border-color: #ec5a53;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
}

    .btn.btn-confirm-checkout:hover {
        background-color: #da473a;
        border-color: #da473a;
    }

.admin-container {
    max-width: 1300px; /* Adjust size to preference */
    margin: 2rem auto;
    padding: 1rem;
}

.admin-header {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: white; /* Use a contrasting color if your site header is dark */
    margin-bottom: 2rem;
}

.admin-controls {
    margin-bottom: 2rem;
}

.btn-site {
    background-color: #ec5a53;
    border-color: #ec5a53;
    color: white;
}

    .btn-site:hover {
        background-color: darken(#ec5a53, 10%);
        border-color: darken(#ec5a53, 10%);
    }

.btn-edit {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

    .btn-edit:hover {
        background-color: darken(#f0ad4e, 10%);
        border-color: darken(#eea236, 10%);
    }

.btn-delete {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;
}

    .btn-delete:hover {
        background-color: darken(#d9534f, 10%);
        border-color: darken(#d43f3a, 10%);
    }

.admin-table-container {
    overflow-x: auto; /* For responsive table scrolling */
}

.admin-table {
    width: 100%;
    margin-bottom: 2rem;
    /* Additional styling for table */
}

    .admin-table thead {
        background-color: #ec5a53;
        color: white;
    }

    .admin-table th,
    .admin-table td {
        text-align: center;
        vertical-align: middle;
    }

