@model BrickHouse.Models.Order

@{
    ViewData["Title"] = "Delete Order Confirmation";
    Layout = "/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .white-box {
        background-color: #ffffff; /* White background color */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Small shadow offset */
        padding: 20px; /* Padding inside the box */
        width: 550px; /* Width of the box */
        margin: 20px auto; /* Center the box horizontally */
        z-index: 2;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%); /* Center the box horizontally */
    }
</style>
<div class="banner-gradient">
    <div class="white-box text-center">
        <h1 style="color: #ec5a53; font-weight: 900;
                font-size: 1.5em; font-family: 'Pridi', serif;">Confirm Delete</h1>
        <p>Are you sure you want to delete Order #@Model.TransactionId?</p>
        <br/>
        <form asp-action="DeleteOrder" method="post">
            <input type="hidden" name="id" value="@Model.TransactionId" />
            <button type="submit" class="btn btn-oval me-2" style="background-color: #ec5a53" role="button">Yes, Delete</button>
            <a class="btn btn-oval me-2" role="button" asp-controller="Admin" asp-action="CRUDOrders">Cancel</a>
        </form>
    </div>
</div>

