@{
ViewData["Title"] = "Access Denied";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/><br/><br/><br/><br/>
<div class="text-center">
    <h2 class="bg-danger mb-1 p-2 text-white" style="padding-top: 400px; background-color: #ec5a53">Access Denied</h2>
    <br/>
    <p>If you think this is a mistake, please contact aurora@brickhouse.net. Thanks for using BrickHouse!</p>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">OK</a>
</div>
