@*
    For more information on enabling MVC for empty Products, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<string>

@{
    string selectedCategory = ViewBag.SelectedProductType ?? "Select Category";
}

<div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @selectedCategory
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Home" asp-action="ProductPage" asp-route-ProductPage="" asp-route-pageNum="">Clear Filter</a>

        @foreach (string pt in Model ?? Enumerable.Empty<string>())
        {
            <a class="dropdown-item @(pt == ViewBag.SelectedProductType ? "active" : "")" asp-controller="Home" asp-action="ProductPage" asp-route-primaryCategory="@pt" asp-route-secondaryCategory="@ViewBag.SelectedSecondaryCategory" asp-route-pageNum="1">@pt</a>
        }
    </div>
</div>




