@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .white-box {
        background-color: #ffffff; /* White background color */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Small shadow offset */
        padding: 20px; /* Padding inside the box */
        width: 550px; /* Width of the box */
        margin: 20px auto; /* Center the box horizontally */
        z-index: 2;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%); /* Center the box horizontally */
    }
</style>
<div class="banner-gradient">
    <div class="white-box text-center">
        <h1 style="color: #ec5a53; font-weight: 900;
                font-size: 1.5em; font-family: 'Pridi', serif;">Order submitted!</h1>
        <p>Thanks for choosing BrickHouse! We've received your order and our staff is reviewing it before shipping. Keep an eye on your email, we'll be in touch soon with shipping information. Happy building!</p>
        <br/>
        <a class="btn btn-oval me-2" role="button" asp-controller="Home" asp-action="ProductPage">Place Another Order</a>
    </div>
</div>