@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_NewLayout.cshtml"; // This sets the layout for this view
}

@model CheckoutViewModel

<br />
<br />
<br />


<div class="checkout-container">
    <h2 class="checkout-header">PAYMENT & SHIPPING</h2>

    <form asp-action="Checkout" method="post" class="checkout-form">
        <!-- Bank dropdown -->
        <select class="form-control checkout-select" asp-for="Order.Bank" asp-items="@(new SelectList(Model.UniqueBanks))">
            <option value="">Select Bank</option>
        </select>

        <!-- Type of Card Dropdown -->
        <select class="form-control checkout-select" asp-for="Order.TypeOfCard" asp-items="@(new SelectList(Model.UniqueCardTypes))">
            <option value="">Select Type of Card</option>
        </select>

        <!-- Country of Transaction Dropdown -->
        <select class="form-control checkout-select" asp-for="Order.CountryOfTransaction" asp-items="@(new SelectList(Model.UniqueCountriesOfTransaction))">
            <option value="">Country you are ordering from</option>
        </select>

        <!-- Shipping Address Dropdown -->
        <select class="form-control checkout-select" asp-for="Order.ShippingAddress" asp-items="@(new SelectList(Model.UniqueShippingAddresses))">
            <option value="">Country you are shipping to</option>
        </select>

        <!-- Confirm Checkout Button -->
        <button type="submit" class="btn btn-confirm-checkout">Confirm Checkout</button>
    </form>
</div>

