@{
    // INTEX II
    // Group 2-2
    // Garrett Ashcroft, Jared Rosenlund, Vivian Solgere, and Caroline Tobler
    
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml"; // This sets the layout for this view
}

<div class="banner">
    <div class="container">
        <h2 style="color: white; font-weight: bold; font-family: 'Poppins', sans-serif;">Unlock Creativity<br>Brick by Brick</h2>
        <p><a class="btn btn-oval" role="button" asp-controller="Home" asp-action="ProductPage">Start Building</a></p>
    </div>
</div>
<div class="bottom-gradient"></div>

<div class="trending container">
    <h1 style="color: #ec5a53; font-weight: 900;
                font-size: 1.5em; font-family: 'Pridi', serif;">
        Trending Now
    </h1>

    <div class="row">
        <div class="row">
            @foreach (var product in ViewBag.Products)
            {
                <div class="col-md-3">
                    <img src="@product.ImgLink" alt="Trending Product">
                </div>
            }
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-secondary see-all-btn" asp-controller="Home" asp-action="ProductPage" role="button" style="color: #ec5a53; font-weight: 900;
                font-size: 1.5em; font-family: 'Pridi', serif;">View all Products >></a>


        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // When the user scrolls the page, execute the function
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            // Get the navbar
            var navbar = document.querySelector(".navbar");
            // Specify the scroll position in pixels you want to trigger the color change
            if (window.pageYOffset > 500) {
                // When the user scrolls down 50px from the top of the document, add the "scrolled" class to the navbar
                navbar.classList.add("scrolled");
            } else {
                // When the user is at the top of the document, remove the "scrolled" class
                navbar.classList.remove("scrolled");
            }
        }
    </script>
}
