@using BrickHouse.Models.ViewModels
@{Layout = "~/Views/Shared/_Layout.cshtml";}

@model ProductsListViewModel

<div>
    <h1>Our Products</h1>
</div>


<div class="row">
    <div class="col-md-3">
        <vc:Product-types />
    </div>

    <div class="col-md-9">
        @foreach (Product p in Model.Products)
        {
            <partial name="ProductSummary" model="p" />
        }
    </div>
</div>



<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-ProductType="@Model.CurrentProductType" class="btn-grp pull-right m-1">
</div>


@* <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-controller="Home" asp-action="Index" asp-route-pageNum="2">2</a>
<a asp-controller="Home" asp-action="Index" asp-route-pageNum="3">3</a> *@
