@using BrickHouse.Models.ViewModels
@{Layout = "~/Views/Shared/_HomeLayout.cshtml";}

@model ProductsListViewModel




<div>
    <h1>Our Products</h1>
</div>


<div class="row">
    <div class="col-md-3">
        <vc:Product-types />
        @await Component.InvokeAsync("ProductTypes", new { primaryCategory = Model.CurrentProductType, secondaryCategory = "" })
    </div>

    <div class="col-md-9">
        @foreach (Product p in Model.Products)
        {
            <partial name="ProductSummary" model="p" />
        }
    </div>
</div>



<div page-model="@Model.PaginationInfo" page-action="ProductPage" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-PrimaryCategory="@Model.CurrentProductType" class="btn-grp pull-right m-1">
</div>



